.submit-btn {
    min-width: max-content;
    padding-left: 7%;
    padding-right: 7%;
}

.error {
    color: red;
}

.border-style {
    border: solid 1px #b4b4b4;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.mcq-style {
    width: 20px;
}

body:not(.modal-open) {
    overflow-y: scroll !important;
}
