.error {
    color: red;
}

.delete {
    color: orangered;
}

.yes-button {
    background-color: darkred !important;
    border: darkred !important;
    width: 80px;
}

.no-button {
    background-color: #606060 !important;
    border: #606060 !important;
    width: 80px;
}

.ok-button {
    width: 80px;
}

.modal-close button {
    background: transparent;
    border: none;
    outline: none;
}

.title {
    color: #F8F8FA;
    background-color: #626ed4;
}

body:not(.modal-open) {
    overflow-y: scroll !important;
}
