.register-wrapper {
    min-width: max-content;
    width: 40%;
}

.register-header {
    background-color: #626ed4;
}

.register-icon {
    color: white;
    font-size: xxx-large;
}

.register-btn {
    min-width: max-content;
    padding-left: 7%;
    padding-right: 7%;
}

.login-link:hover {
    cursor: pointer;
    color: #183475;
}

.login-link:active {
    color: #183475;
}

body:not(.modal-open) {
    overflow-y: scroll !important;
}
